.card-container {
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 4vw;
  padding-top: 1vw;
  border: 1vw solid;
  border-radius: 15px;
  box-shadow: 1px 2px 4px rgb(0, 0, 0);
}

.card-title {
  margin-bottom: 4vh;
  font-size: 3vw;
}

.input-sens {
  padding: 1vw;
  font-family: "Bison";
  font-size: 1.5vw;
  border-radius: 15px;
  margin-bottom: 2vh;
}

.output {
  font-size: 2vw;
  margin-bottom: 2vh;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 0.5vw;
}

.button {
  font-family: "Bison";
  font-size: 2vw;
  color: white;
  padding: 0.5vw;
  border-radius: 15px;
}

@media only screen and (max-width: 700px) {
  .card-title {
    margin-bottom: 3vh;
    font-size: 4vw;
  }

  .input-sens {
    padding: 1vw;
    font-family: "Bison";
    font-size: 3vw;
    border-radius: 15px;
    margin-bottom: 2vh;
  }

  .output {
    font-size: 3vw;
    margin-bottom: 2vh;
  }

  .button {
    font-family: "Bison";
    font-size: 4vw;
    color: white;
    padding: 0.5vw;
    border-radius: 15px;
  }
}

@media only screen and (max-width: 500px) {
  .card-title {
    margin-bottom: 3vh;
    font-size: 6vw;
  }

  .input-sens {
    padding: 1vw;
    font-family: "Bison";
    font-size: 4vw;
    border-radius: 15px;
    margin-bottom: 2vh;
  }

  .output {
    font-size: 4vw;
    margin-bottom: 2vh;
  }

  .button {
    font-family: "Bison";
    font-size: 5vw;
    color: white;
    padding: 0.5vw;
    border-radius: 15px;
  }
}
