@font-face {
  font-family: "Bison";
  src: url("../../fonts/Bison.ttf") format("truetype");
}

.containerHome {
  display: flex;
  height: 100vh;
}

.leftHome,
.rightHome {
  flex: 1;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.leftHome {
  background-image: url("/public/val.jpg");
  background-size: cover;
  background-position: center;
}

.rightHome {
  background-image: url("/public/cs2.jpeg");
  background-size: cover;
  background-position: center;
}

.valToCsBtn,
.csToValBtn {
  margin-top: 50vh;
  padding: 1vw;
  border-radius: 15px;
  font-family: "Bison";
  font-size: 2vw;
  border: 0.5vw solid;
}

.valToCsBtn {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-color: rgb(255, 175, 2);
}

.csToValBtn {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-color: rgb(255, 70, 84);
}

.csToValBtn:hover,
.valToCsBtn:hover {
  cursor: pointer;
}

